@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/agent-detail-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');    html {
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;

    }

    [theme~="dark"] {
      --lumo-base-color: hsla(13, 95%, 30%, 0.48);
      --lumo-body-text-color: hsla(214, 3%, 33%, 0.9);
      --lumo-primary-text-color: hsl(214, 31%, 14%);

    }
